body {
  padding: 0;
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.github-pinner {
  background-color: white;
  border: 1px solid #e1e4e8;
  padding: 15px;
  border-radius: 5px;
}

.github-pinner.gp-profile {
  width: 400px;
  height: auto;
}

.github-pinner.gp-repo {
  width: 300px;
}

.github-pinner.gp-all {
  background-color: white;
  border-radius: 3px;
  width: 300px;
}

/* MARK: - Profile Styling */
.github-pinner #gp-container-profile {
  position: relative;
}

.github-pinner #gp-container-profile a > #gp-avatar {
  user-select: none;
  display: inline-block;
  vertical-align: top;
  width: 80px; /* 80px if bio exists */
  /* 60px else */
  border-radius: 5px;
}

.github-pinner #gp-container-profile > #gp-information {
  width: calc(100% - 80px - 15px);
  display: inline-block;
  overflow: auto;
  margin-left: 10px;
}

.github-pinner #gp-container-profile > #gp-information > .gp-element {
  display: block;
}

.github-pinner #gp-container-profile > #gp-information .gp-link {
  text-decoration: inherit;
  color: inherit;
}

.github-pinner #gp-container-profile > #gp-information .gp-link > .gp-name:hover, .github-pinner #gp-container-profile > #gp-information .gp-link > .gp-user:hover {
  cursor: pointer;
  color: #0366d6;
}

.github-pinner #gp-container-profile > #gp-information .gp-link > .gp-name {
  font-weight: 600;
  font-size: 20px;
}

.github-pinner #gp-container-profile > #gp-information .gp-link > .gp-user {
  display: block;
  font-size: 16px;
  color: #666;
  font-style: normal;
  font-weight: 300;
}

.github-pinner #gp-container-profile > #gp-information > .gp-bio {
  margin-top: 5px;
  font-size: 13px;
  color: #6a737d;
}

.github-pinner #gp-container-profile .gp-btn:hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
    background-position: 0 -0.5em;
    border-color: rgba(27,31,35,0.35);
}

.github-pinner #gp-container-profile .gp-btn {
    margin-top: 6px;
    width: 100px;
    float: right;
    text-decoration: none;
    text-align: center;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    -webkit-appearance: none;
    user-select: none;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}

.github-pinner #gp-container-profile > .gp-stats {
  display: block;
  margin-top: 8px;
}

.github-pinner #gp-container-profile > .gp-stats .gp-stat {
  text-decoration: none;
  width: 70px;
  border-right: 1px solid #eaecef;
  color: #586069;
  cursor: pointer;
  display: inline-block;
  padding: 0 6px;
  margin-top: 5px;
}

.github-pinner #gp-container-profile > .gp-stats .gp-stat:last-of-type {
  border-right: none;
}

.github-pinner #gp-container-profile > .gp-stats .gp-stat:hover .gp-stat-desc, .github-pinner #gp-container-profile > .gp-stats .gp-stat:hover .gp-stat-val {
  color: #0366d6;
}

.github-pinner #gp-container-profile > .gp-stats .gp-stat-val {
  color: #586069;
  font-size: 19px;
  text-align: center;
  display: block;
}
.github-pinner #gp-container-profile > .gp-stats .gp-stat-desc {
  color: #7b828a;
  font-size: 11px;
  text-align: center;
  display: block;
}

/* MARK: - Repo Styling */
.github-pinner #gp-container-repo {
  position: relative;
  height: inherit;
}

.github-pinner #gp-container-repo .gp-title {
  text-decoration: none;
  color: #0366d6;
  font-size: 14px;
  font-weight: 600 !important;
}

.github-pinner #gp-container-repo .gp-title:hover {
  text-decoration: underline;
}

.github-pinner #gp-container-repo .gp-desc {
  margin-top: 5px;
  color: #586069 !important;
  font-size: 12px !important;
}

.github-pinner #gp-container-repo #gp-stats {
}

.github-pinner #gp-container-repo #gp-stats .gp-stat {
  text-decoration: none;
  color: #586069 !important;
  font-size: 12px !important;
  display: inline-block;
  margin: 0 0;
  margin-left: 15px;
}

.github-pinner #gp-container-repo #gp-stats .gp-stat:first-child {
  margin-left: 0px;
}

.github-pinner #gp-container-repo #gp-stats .gp-stat .gp-octicon {
  vertical-align: text-bottom;
  display: inline-block;
  fill: currentColor;
  margin-right: 3px;
}

.github-pinner #gp-container-repo #gp-stats .gp-stat .gp-lang {
  background-color: #f1e05a;
  position: relative;
  top: 2px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.github-pinner #gp-container-repo #gp-stats .gp-stat.gp-link {
  cursor: pointer;

}

.github-pinner #gp-container-repo #gp-stats .gp-stat.gp-link:hover {
  color: #0366d6 !important;
  text-decoration: none;
}

.github-pinner #gp-container-all-repos  {
    position: relative;
    max-height: calc(100% - 80px);
    overflow: scroll;
}

.github-pinner .gp-search {
  /* reset */
  border:none;
  outline: none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  border: 1px solid #e1e4e8;
  padding: 10px 12px;
  padding-left: 35px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 8px;
  background-image: url("https://d29mk5socxaj4o.cloudfront.net/imgs/search.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 12px center;
  background-blend-mode: red;
}

.github-pinner .gp-search:focus {
  background-image: url("https://d29mk5socxaj4o.cloudfront.net/imgs/search-highlight.svg");
  border-color: #3B9CEA;
}

.github-pinner #gp-container-all-repos > #gp-container-repo {
  margin: 12px 0;
  padding-bottom: 12px;
  border-bottom: 1px solid #e1e4e8;
}

.github-pinner #gp-container-all-repos > #gp-container-repo:last-child {
  border-bottom: none;
}

.github-pinner .gp-user-link {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
}

/* Additional Styles */
.github-pinner.flat .gp-btn {
  background-color: blue;
}
